.projects-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    background-color: rgb(56, 56, 56);
    padding: 10px;
}

.tag
{
    background-color: rgb(81, 81, 81);
}

.img-preview
{
    width: 100%;
}

.tags
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.tag
{
    width: fit-content;
    padding: 5px;
    border-radius: 2px;
    font-family: 'Courier New', Courier, monospace;
    color: #ECB22E;
    font-weight: bold;
}

.project-link-container
{
    text-align: center;
}

.project-link
{
    color: white;
    background-color: rgb(114, 114, 114);
    padding: 5px;
    border-radius: 2px;
}
.project-summary
{
    font-size: large;
}

.project-link:hover
{
    color: white;
}

@media (max-width: 800px)
{
    
    .projects-container
    {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        width: 100%;
        border-radius: 0px;
        padding: 0px;
        overflow-y: hidden;
    }
    .project-headings
    {
        font-size: 45px;
        margin: 0 auto;
        padding: 10px;
    }
    .project-title
    {
        font-size: xx-large;
        padding: 5px;
    }
    .project-summary
    {
        padding: 5px;
        font-size: large;
        margin: 0 auto;
    }
    .project-link-container
    {
        margin-bottom: 10px;
    }
}
