.preview-button {
    background-color: rgb(10, 104, 236);
    width: 300px;
    overflow-x: auto;
}

.button-container {
    display: flex;
    flex-direction: column;
}

/* Forces the color to be white for the lettering. Had issue om iOS devices.*/
.preview-button a,
.preview-button a:visited,
.preview-button a:hover,
.preview-button a:active {
  color: #fff;
  text-decoration: none;
}

.preview-button a {
  -webkit-text-fill-color: #fff;
}