.list-item
{
    padding: 4px 8px;
    cursor: pointer;
}
 
.list-item.active
{
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
}

.editor-header-alignment
{
    display: flex;
    gap: 5px;
    align-items: center;
}

.edit-button
{
    transition: 0.3s ease;
}

.edit-button:hover
{
    background-color: #007BFF;
}

.title-pop-up
{
    display: flex;
    flex-direction: column;
    align-items: center;   
    gap: 12px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background: #222;
    border: 1px solid #888;
    padding: 20px;
    border-radius: 8px;
    z-index: 999;
}

.title-pop-up-buttons
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.invalid-login-icon
{
    margin: 0 auto;
    font-size: 200px;
}

.invalid-login 
{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
}

.landing-page-button
{
    background-color: grey;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.landing-page-button > a
{
    color: white;
    
}

.landing-page-button:hover
{
    background-color: #007BFF;
}

.preview-pane
{
    max-width: 100%;
    word-break: break-word;
}

.katex-display {
  display: block;
  margin: 1em 0;
  overflow-x: auto; /* helpful for long equations */
}
p > .katex-display { display: block; }

/* Code inside blocks. */
pre code {
  background: none;             
  color: inherit;
  font-size: 0.95em;
}

/* Inline code. */
code {
  background-color: #2a2a2a;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.95em;
}
