li {
    list-style-type: none;
}

.preview-h2 {
    margin: 0 calc(100vw/2 - 325px);
}

.preview-h3 {
    margin: 0 calc(100vw/2 - 325px);
}

.main-content {
    width: 100vw - 250px;
    display: flex;
    flex-direction: column;
}

.button-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 calc(100vw/2 - 350px);
    gap: 20px;
}

.no-notes-container {
    display: flex;
    margin: 0 calc(100vw/2 - 580px);
}

.markdown-display {
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
    background-color: #1d1d1d;
}

@media (max-width: 800px)
{
    .preview-h2 
    {
        margin: 0 auto;
        text-align: center;
    }

    .preview-h3 
    {
        text-align: center;
        margin: 0 auto;
    }
    .main-content
    {
        width: 100vw;
    }
    .button-container
    {
        margin: 0 auto;
        width: 300px;
    }
}